.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1;

  justify-content: space-between;
  align-items: center;
}

.container aside {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-weight: bold;
}

aside:first-child {
  color: var(--blue);
  font-weight: bold;
  font-size: 1rem;
}
aside:last-child {
  color: var(--purple);
  font-weight: bold;
  font-size: 1rem;
}

aside span {
  color: var(--gray-200);
  background-color: var(--gray-400);
  padding: 5px;
  border-radius: 16px;
  font-size: 0.75rem;
  padding: 2px 8px;
}
